[submodule "external/agency-agents-zh"]
	path = external/agency-agents-zh
	url = https://github.com/jnMetaCode/agency-agents-zh.git
[submodule "external/agency-agents"]
	path = external/agency-agents
	url = https://github.com/msitarzewski/agency-agents.git
[submodule "external/AboutSecurity"]
	path = external/AboutSecurity
	url = https://github.com/wgpsec/AboutSecurity.git
[submodule "vendor/codegraph"]
	path = vendor/codegraph
	url = https://github.com/colbymchenry/codegraph.git
[submodule "external/reverse-skill"]
	path = external/reverse-skill
	url = https://github.com/zhaoxuya520/reverse-skill.git
[submodule "external/Claude-BugHunter"]
	path = external/Claude-BugHunter
	url = https://github.com/elementalsouls/Claude-BugHunter.git
[submodule "external/Anthropic-Cybersecurity-Skills"]
	path = external/Anthropic-Cybersecurity-Skills
	url = https://github.com/mukul975/Anthropic-Cybersecurity-Skills.git
[submodule "external/cve_monitor"]
	path = external/cve_monitor
	url = https://github.com/anonymous99-Rise/cve_monitor.git
[submodule "vendor/burp-mcp"]
	path = vendor/burp-mcp
	url = https://github.com/PortSwigger/mcp-server.git
[submodule "vendor/redteam-mcp"]
	path = vendor/redteam-mcp
	url = https://github.com/ktol1/RedTeam-Agent.git
[submodule "external/Vulnerability-Wiki-PoC"]
	path = external/Vulnerability-Wiki-PoC
	url = https://github.com/SourByte05/Vulnerability-Wiki-PoC.git
[submodule "knowledge/owasp-top10"]
	path = standards/owasp-top10
	url = https://github.com/OWASP/Top10.git
[submodule "external/CyberStrikeAI"]
	path = external/CyberStrikeAI
	url = https://github.com/AIPentest/CyberStrikeAI.git
[submodule "external/CkSKILLS"]
	path = external/CkSKILLS
	url = https://github.com/zhaji2333/CkSKILLS.git
[submodule "external/dsh-pentest"]
	path = external/dsh-pentest
	url = https://github.com/howmp/dsh-pentest.git
[submodule "external/dsh-infinite-gen-4"]
	path = external/dsh-infinite-gen-4
	url = https://github.com/Minglink/dsh-infinite-gen-4.git
